.post-body.card {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

.post-body h2,
.post-body p.post-date {
    text-align: center;
}

.post-body p.post-date {
    margin-bottom: 5px;
}

.post-body a {
    color: red;
}

.post-body img {
    max-width: 300px;
    width: 40%;
    margin-right: 5px;
}
