@image-path: "../images";

#portrait {
    position: absolute;
	display: inline-block;
    right: ~"-webkit-calc(50% - 215px)";
    right: ~"-moz-calc(50% - 215px)";
	width: 85px;
    height: 85px;
	border: 2px solid #000;
    border-radius: 100%;
    background: ~"url('@{image-path}/1.png')";
    background-size: contain;
}
.blog-image {
    max-width: 300px;
    width: 40%;
    margin-right: 5px;
}
