@backgroundColor: #E2FFD8;
@divBackgroundColor: #92BF7F;
@modalBackgroundColor: #30415D;
@navBackgroundColor: #AF473C;

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

html,
body {
	min-height: 100%;
	height: 100%;
	font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    background: @backgroundColor;
}

a,
a:focus,
a:hover {
	text-decoration: none;
	color: #000000;
    outline: none;
}

.links {
    color: @navBackgroundColor;
    text-shadow: 1px 1px #888;
}

.icon {
	width: 25px;
	height: 25px;
}

.overflow-hidden {
    overflow: hidden;
}

.container {
    max-width: 960px;
}

nav.bg-dark,
footer.bg-dark {
    background-color: rgba(0, 0, 0, .85) !important;
}

nav a,
footer a {
    color: #999;
    transition: ease-in-out color .15s;
}

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}
