@media (max-width: 1285px) {
    #bio {
        font-size: .85em;
    }
}
@media (max-width: 1285px) {
    #greeting {
        font-size: 2.25em;
    }
    #bio {
        font-size: .75em;
    }
}
@media (max-width: 768px) {
    body {
        overflow-y: scroll;
    }
    #name-container {
        height: 65px;
    }
    #portrait {
        width: 65px;
        height: 65px;
    }
    #navTabs {
        width: 95%;
        padding: 0px !important;
    }
    #navTabs > li {
        display: inline-block !important;
        width: 19%;
    }
    .panel {
        margin: 0px !important;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .panel-group {
        margin: 0px auto !important;
    }
    .panel-heading {
        background: #AF473C !important;
        color: #FFF !important;
        text-align: center;
    }
    .panel-panel {
        border-style: none;
    }
    #content-box {
        margin-top: 5px;
        height: ~"-webkit-calc(100% - 124px)";
        overflow-x: hidden;
    }
    .blog-title {
        margin-top: 0px;
        font-size: 1.25em;
    }
    .mobile-list-item {
        background: #AAA;
    }
}
@media only screen and (max-width: 736px) and (orientation: landscape) {
    #name {
        font-size: 2.25em;
        left: ~"-webkit-calc(50% - 32.5px)";
    }
    #portrait {
        right: ~"-webkit-calc(50% - 175px)";
    }
    #content-box {
        height: ~"-webkit-calc(100% - 125px)";
    }
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
    #name-container {
        height: 55px !important;
    }
    #name {
        font-size: 1.85em;
        left: ~"-webkit-calc(50% - 25px)" !important;
    }
    #portrait {
        right: ~"-webkit-calc(50% - 145px)";
        width: 55px !important;
        height: 55px !important;
    }
    #content-box {
        height: ~"-webkit-calc(100% - 114px)";
    }
}

/* portrait */
@media only screen and (max-width: 480px) and (orientation: portrait) {
    #name {
        font-size: 2.25em;
        left: ~"-webkit-calc(50% - 32.5px)";
    }
    #portrait {
        right: ~"-webkit-calc(50% - 175px)";
    }
    #content-box {
        height: ~"-webkit-calc(100% - 125px)";
    }
}
@media only screen and (max-width: 360px) and (orientation: portrait) {
    #name-container {
        height: 55px !important;
    }
    #name {
        font-size: 1.85em;
        left: ~"-webkit-calc(50% - 25px)" !important;
    }
    #portrait {
        right: ~"-webkit-calc(50% - 145px)";
        width: 55px !important;
        height: 55px !important;
    }
    #content-box {
        height: ~"-webkit-calc(100% - 114px)";
    }
}
@media only screen and (max-width: 320px) and (orientation: portrait) {
    #content {
        padding: 0px 7.5px;
    }
    #content-box {
        padding: 5px;
    }
}
