#landing {
  background: #E2FFD8;
  text-align: center;
}

.project-image-container {
  background: $white;
  border-radius: 21px 21px 0 0;
  height: 300px;
  margin: auto;
  width: 80%;
}

#knobjectLogo {
  margin-top: 50px;
  height: 200px;
}

#raspbeatLogo {
  margin-top: 20px;
  height: 250px;
}

