@font-face {
  font-family: "moonflower";
  src: url("../fonts/moon_flower/Moon Flower Bold.ttf");
}
body {
  background: #000;
  color: #FFF;
}
.moonflower {
  font-family: "moonflower";
  font-size: 2em;
}
.social {
  margin-left: 5px;
}
.titles {
  font-family: "moonflower";
  font-size: 2em;
  font-size: 3.5em;
  color: #FFF;
}
.link-title {
  text-decoration: none;
  color: #008CBA;
}
.images {
  border: 2px solid #008CBA;
}
