.context {
  position: absolute;
  width: 150px;
  background: #3c3c3c;
  border: 1px solid #000;
  z-index: 9000;
}
.context-element {
  position: relative;
  height: 20px;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  list-style: none;
}
.context-element:hover {
  background-color: #646464;
}
.context-list {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.volume {
  position: relative;
  display: inline-block;
  float: left;
  width: 50%;
  height: -webkit-calc(60.5% - 16px);
  height: -moz-calc(60.5% - 16px);
  overflow: hidden;
}
.slider,
.slider-vertical {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.slider-track {
  border-left: 2px solid #414141;
  border-right: 2px solid #a2a2a2;
  border-radius: 3px;
  background-color: #262626;
  position: absolute;
  width: 2px;
  height: 100%;
  left: -webkit-calc(50% - 3px);
  left: -moz-calc(50% - 3px);
}
/* dimensions must match those found in the rule for input[type=range]::-webkit-slider-thumb. */
.slider-thumb {
  width: 20px;
  height: 40px;
  background-image: url('../images/fader.png');
  background-size: 20px 40px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  left: -webkit-calc(50% - 11px);
  left: -moz-calc(50% - 11px);
  top: 0px;
  border: 0 none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0px;
  margin: 0px;
  pointer-events: none;
}
.fader::-ms-track {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}
.fader::-moz-range-track {
  width: 100%;
  height: 100%;
  -moz-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}
.fader {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}
/* we need a separate rule for when the range input is to be vertical */
.fader.slider-vertical {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
  /* IE */
  opacity: 0.01;
  /* needed to hide the default slider-vertical appearance */
}
.fader:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}
.fader:focus {
  outline: none;
}
/* Make the thumbs the same size as your custom sliderthumb. they will not be visible but they will be draggable. 	*/
.fader::-ms-thumb {
  width: 40px;
  height: 80px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}
.fader::-moz-range-thumb {
  width: 40px;
  height: 80px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}
.fader::-webkit-slider-thumb {
  width: 20px;
  height: 40px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
  -webkit-appearance: none;
}
/* microsoft IE10+ and Edge - eliminates default fills before and after thumb */
.fader::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}
.fader::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}
.fader::-ms-tooltip {
  display: none;
}
.disabled {
  pointer-events: none;
  opacity: .5;
}
.disabled-text {
  color: #FF0000;
}
@media screen and (min-width: 1900px) {
  .groupID {
    font-size: 110% !important;
  }
  .new-mix-button {
    font-size: 130% !important;
  }
  .slider-thumb {
    width: 30px !important;
    height: 60px !important;
    left: -webkit-calc(50% - 16px) !important;
    left: -moz-calc(50% - 16px) !important;
    background-size: 30px 60px !important;
  }
  .mixNamePlates {
    font-size: 130% !important;
    font-weight: 700 !important;
    letter-spacing: -0.35px !important;
  }
}
.menuHeader {
  position: relative;
  width: 100%;
  height: 25px;
  background: -webkit-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: -o-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: -moz-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: linear-gradient(#cdcdcd, #979797);
  border-bottom: #323232;
}
.menuTitle {
  display: inline-block;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  font-family: Arial;
  font-size: .8em;
  text-align: center;
}
.close-button {
  position: absolute;
  left: -webkit-calc(100% - 17px);
  left: -moz-calc(100% - 17px);
  margin-top: 2px;
}
#about {
  position: absolute;
  width: 450px;
  height: 300px;
  top: 0%;
  left: 50%;
  margin-left: -200px;
  margin-top: -300px;
  border: 1px solid black;
  background: #FFF;
  z-index: 2000;
}
#aboutText {
  display: block;
  width: 415px;
  margin: auto;
  font-family: Courier;
  font-size: .9em;
  text-align: center;
}
#addition {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 100px;
  padding: 0;
  margin-top: -150px;
  margin-left: -200px;
  resize: none;
  background: #e3e3e3;
  border: 1px solid #000;
  z-index: 9000;
}
#innerAddition {
  position: relative;
  width: 250px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
}
.createTrack {
  float: left;
}
.import {
  float: right;
}
.additionalButtons {
  width: 90px;
  height: 18px;
  font-size: .8em;
  font-family: Arial;
  padding-top: 2px;
  background: -webkit-linear-gradient(rgb(205,205,205), rgb(170,170,170));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(205,205,205), rgb(170,170,170));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(205,205,205), rgb(170,170,170));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#cdcdcd, #aaaaaa);
  /* Standard syntax */
  border: 1px solid #000;
  border-radius: 3px;
}
.newTrackRow {
  position: relative;
  width: 95%;
  height: 20px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  font-family: Arial;
  font-size: .8em;
}
.addRow {
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 100%;
}
#addButtons {
  margin-top: 10px;
  margin-right: 5px;
  float: right;
}
.additionalTracks {
  width: 15px;
  text-align: center;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#helpMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -100px;
  width: 600px;
  height: 200px;
  border: 1px solid #000;
  background: #ededed;
  z-index: 9000;
}
#loadMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  width: 600px;
  height: 200px;
  border: 1px solid #000;
  background: #ededed;
  z-index: 9000;
}
#prefMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  margin-top: -275px;
  width: 450px;
  height: 550px;
  border: 1px solid #000;
  background: #ededed;
  z-index: 9000;
}
#renameMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -112.5px;
  width: 300px;
  height: 225px;
  font-family: Arial;
  font-size: 0.8em;
  border: 1px solid #000;
  border-radius: 6px;
  background: #d1d1d1;
  z-index: 9000;
}
#renameInnerDiv {
  width: 90%;
  height: 150px;
  margin: auto;
  margin-top: 10px;
}
.renameButton {
  width: 25%;
  float: left;
}
#trackName {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: auto;
  background: #e3e3e3;
  border: 1px solid #000;
}
#comments {
  width: 100%;
  height: 100px;
  padding: 0;
  margin: auto;
  margin-bottom: 5px;
  resize: none;
  background: #e3e3e3;
  border: 1px solid #000;
}
#loadSaveBackground {
  opacity: .82;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
}
#loadSave {
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
}
#loadSaveHeader {
  color: gray;
  font-weight: normal;
}
.noDisplay {
  display: none;
}
#importAudioMenu {
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  z-index: 9000;
}
#uploadForm {
  width: 300px;
  height: 50px;
  margin: auto;
  border: 1px solid black;
}
#importFile {
  width: 200px;
  height: 50px;
  margin: 0px;
  padding: 0px;
}
#hidden_upload {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 0px;
  background: #FFF;
}
#colorMenu {
  position: absolute;
  width: 500px;
  height: 150px;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -250px;
  background: #666;
  z-index: 9000;
}
.palette {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -12.5px;
}
.color-row {
  position: relative;
  width: 405px;
  height: 25px;
  margin: auto;
  margin-bottom: 5px;
}
.color-box {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 23px;
  border: 1px solid #000;
  margin-left: 5px;
}
.flyout-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#pluginMenu {
  position: absolute;
  width: 150px;
  height: 100px;
  z-index: 600;
  background: #272727;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  text-decoration: none;
}
.menuRow {
  width: 100%;
  height: 22px;
  text-align: center;
  line-height: 22px;
  border-bottom: 1px solid #5a5a5a;
}
.menuRow:hover {
  background: #646464;
}
#pluginList {
  visibility: hidden;
  margin-left: -75px;
  width: 100px;
  background: #313131;
  line-height: normal;
}
#pluginList li {
  display: inline-block;
  width: 140px;
  height: 18px;
  margin-left: -40px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 18px;
  text-align: justify;
}
#pluginList li:hover {
  background: #646464;
}
#pluginList li > span {
  vertical-align: middle;
}
@font-face {
  font-family: 'Linea';
  src: url('../fonts/linea.ttf');
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}
.default_window {
  position: absolute;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -150px;
  z-index: 999;
}
.headerMenu {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #000;
}
.title-bar {
  position: relative;
  width: 100%;
  height: 16.5%;
  border-bottom: 1px solid #000;
  background: #202020;
  color: #FFF;
}
.title {
  position: absolute;
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 2.5em;
  text-shadow: 3px 3px 0 #000;
}
.close {
  display: inline-block;
  float: right;
}
.bypassButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
  padding: 5px 10px;
  background: #343434;
  border: 1px solid #000;
  color: #adadad;
  font-family: 'Montserrat';
}
.bypassEngaged {
  color: red;
}
.distortion_plugin {
  background: #000 !important;
}
.delay-plugin {
  background: #bcbcbc !important;
}
.delay-row {
  width: 90%;
  height: 10px;
  margin: auto;
  margin-top: 6px;
}
.delay-row * {
  float: left;
}
.delay-text {
  position: relative;
  width: 25%;
  color: #545454;
  font-size: .9em;
  font-family: Arial;
  font-weight: 600;
  text-align: left;
}
.delay-display {
  position: relative;
  width: 20%;
  height: 15px;
  margin-top: 2px;
  padding-right: 2px;
  background: #000;
  text-align: right;
  color: #699b14;
  font-size: .8em;
}
.delay-fader {
  position: relative;
  width: -webkit-calc(55% - 7px);
  width: -moz-calc(55% - 7px);
  margin-left: 5px;
  margin-right: 0px;
}
.delay-fader::-moz-range-track {
  border-radius: 8px;
  background-color: #b0b0ae;
  height: 4px;
}
.delay-buttons {
  position: absolute;
  top: 80%;
  left: 50%;
}
.delay-note {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 2px;
  border: 1px solid #000;
}
.distortion_parameters {
  width: 200px;
  height: 50px;
  margin: auto;
}
.distortion_knob {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.eq_window {
  position: absolute;
  width: 550px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #7e7e7e !important;
  z-index: 999;
}
.eq_freqGraph {
  float: right;
  width: 300px;
  height: 100px;
  border: 1px solid #000;
}
.eq_parameters {
  position: relative;
  width: 100%;
  height: 120px;
  top: 50%;
  transform: translateY(-50%);
}
.eq_inputs {
  float: right;
  width: 40px;
  background: #000;
  color: #00FF00;
}
.eq_knobs {
  float: left;
  width: -webkit-calc(20% - 5px);
  width: -webkit-moz(20% - 5px);
  margin: 5px 0px 0px 5px;
}
.eq_qKnobs {
  width: 180px;
  height: 50px;
  border: 1px solid #000;
}
.eq_frequencyKnobs {
  width: 180px;
  height: 50px;
  border: 1px solid #000;
}
.eq_gainKnobs {
  width: 180px;
  height: 50px;
  border: 1px solid #000;
}
.reverb_plugin {
  background: #bcbcbc;
}
.ringMod_parameters {
  width: 200px;
  height: 50px;
  margin: auto;
}
.ringMod_plugin {
  background: -webkit-repeating-radial-gradient(circle,purple,purple 10px,#4b026f 10px, #4b026f 20px);
  /* Safari 5.1-6.0 */
  background: -o-repeating-radial-gradient(circle,purple,purple 10px,#4b026f 10px, #4b026f 20px);
  /* For Opera 11.6-12.0 */
  background: -moz-repeating-radial-gradient(circle,purple,purple 10px,#4b026f 10px, #4b026f 20px);
  /* For Firefox 3.6-15 */
  background: repeating-radial-gradient(circle, purple, purple 10px, #4b026f 10px, #4b026f 20px);
  /* Standard syntax */
}
.tremolo_plugin {
  background: #CCBB54 !important;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FFEF39, black) !important;
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FFEF39, black) !important;
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FFEF39, black) !important;
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFEF39, black) !important;
  /* Standard syntax */
  border: 2px solid #000;
}
.tremolo_parameters {
  position: relative;
  width: 400px;
  height: 65.5%;
  text-align: center;
}
.tremolo-labels {
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-size: 1.5em;
}
.tremoloFreq {
  position: relative;
  display: block;
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
}
.tremoloGain {
  position: relative;
  display: block;
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
}
.tremoloButtons {
  position: relative;
  width: 185px;
  height: 50px;
  margin: auto;
}
.trem_button {
  display: inline-block;
  border: 1px solid #000;
  margin-right: 2px;
  background: #262626;
}
.tremoloFreq::-webkit-slider-runnable-track,
.tremoloGain::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 8px;
  background-color: #000;
}
.tremoloFreq::-webkit-slider-thumb,
.tremoloGain::-webkit-slider-thumb {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 42px;
  background: #3e3e3e;
  border: 2px solid #000;
  border-radius: 0px;
}
.tremoloFreq::-moz-range-track,
.tremoloGain::-moz-range-track {
  border-radius: 8px;
  background-color: #000;
  height: 4px;
}
.tremoloFreq::-moz-range-thumb,
.tremoloGain::-moz-range-thumb {
  width: 12px;
  height: 38px;
  background: #3e3e3e;
  border: 2px solid #000;
  border-radius: 0px;
}
#barsBeats {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 18px;
  float: left;
  background: #757e87;
}
#barInfo {
  position: relative;
  display: inline-block;
  height: 18px;
}
.bar_numbers {
  display: inline-block;
  margin-top: -4px;
  height: 18px;
  font-family: Arial;
  font-weight: 600;
  font-size: .9em;
  text-indent: 3px;
  vertical-align: middle;
  color: #FFF;
  text-shadow: 0px 0px 4px #141914;
}
#minSecs {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 18px;
  background: #434142;
}
#secsInfo {
  position: relative;
  display: inline-block;
  height: 18px;
}
#measureIncrements {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 17px;
  background: #434142;
  border-bottom: 1px solid #5d5e60;
}
.canvas-button {
  background: -webkit-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: -o-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: -moz-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: linear-gradient(#cdcdcd, #979797);
}
.header-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}
* {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
html,
body {
  width: 100%;
  margin: auto;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
#header {
  position: relative;
  width: 100%;
  height: 12%;
  padding: 0;
  background: -webkit-linear-gradient(rgb(189,190,192), rgb(131,135,136));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(189,190,192), rgb(131,135,136));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(189,190,192), rgb(131,135,136));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#bdbec0, #838788);
  /* Standard syntax */
}
#modes {
  float: left;
  display: inline-block;
  width: 11.5%;
  height: 100%;
}
#modesContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  width: -webkit-calc(90% - 2px);
  width: -moz-calc(90% - 2px);
  height: 75%;
  border-radius: 5px;
  background-image: url('../images/green.png');
  background-repeat: repeat;
}
.mode-row {
  position: relative;
  width: 93%;
  height: 36%;
  left: 50%;
  top: -webkit-calc(21% - 8px);
  top: -moz-calc(21% - 8px);
  transform: translateX(-50%);
}
.mode-row-bottom {
  margin-top: 1%;
}
.normalMode {
  display: inline-block;
  width: -webkit-calc(50% - .5px);
  width: -moz-calc(50% - .5px);
  height: 100%;
  background-color: transparent;
  color: #699b14;
  border: 2px solid #4a641b;
  border-radius: 2px;
  padding: 0;
  font-family: Arial;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: -1px;
}
.normalMode:focus {
  outline: none;
}
#shuffle,
#slip {
  float: left;
}
#spot,
#grid {
  float: right;
}
.shuffle {
  background: #b61210;
  border: 2px solid #b61210;
  color: #1f2519;
}
.spot {
  background: #d47b1c;
  border: 2px solid #d47b1c;
  color: #1f2519;
}
.slip {
  background: #9de223;
  border: 2px solid #9de223;
  color: #1f2519;
}
.grid {
  background: #297ad6;
  border: 2px solid #2c7ad6;
  color: #1f2519;
}
#tools {
  display: inline-block;
  position: relative;
  height: 100%;
  width: -webkit-calc(16% - 2px);
  width: -moz-calc(16% - 2px);
  border-left: 2px solid #969698;
  float: left;
}
#toolbar {
  position: relative;
  width: auto;
  height: 37.5px;
  margin: auto;
  padding-top: 2.5px;
}
.tool-button {
  display: inline-block;
  float: left;
  width: 34px;
  height: 34px;
  border: 1px solid #757575;
}
.normalToolBackground {
  background: -webkit-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: -o-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: -moz-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: linear-gradient(#cdcdcd, #979797);
}
.selectedToolBackground {
  background: -webkit-linear-gradient(rgb(105,149,195), rgb(44,82,131));
  background: -o-linear-gradient(rgb(105,149,195), rgb(44,82,131));
  background: -moz-linear-gradient(rgb(105,149,195), rgb(44,82,131));
  background: linear-gradient(#6995c3, #2c5283);
}
#counter {
  display: inline-block;
  position: relative;
  height: 100%;
  width: -webkit-calc(29% - 2px);
  width: -moz-calc(29% - 2px);
  border-left: 2px solid #969698;
  float: left;
}
#clockContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  width: 95%;
  height: 75%;
  border-radius: 5px;
  background-image: url('../images/green.png');
  background-repeat: repeat;
}
#clock {
  position: relative;
  width: 50%;
  text-align: right;
  color: #9ae010;
  font-family: Courier;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
  background: transparent;
  border-bottom: solid 1px #4b7704;
  border-right: solid 1px #4b7704;
}
#transport {
  display: inline-block;
  position: relative;
  float: left;
  width: -webkit-calc(13% - 2px);
  width: -moz-calc(13% - 2px);
  height: 100%;
  border-left: 2px solid #969698;
}
.transport-row {
  position: relative;
  width: 100%;
  height: 46%;
  padding-top: 2.5px;
}
.transport-button {
  float: left;
  margin-left: 6px;
  width: 32px;
  height: 32px;
  border: 1px solid #757575;
  background: -webkit-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: -o-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: -moz-linear-gradient(rgb(205,205,205), rgb(151,151,151));
  background: linear-gradient(#cdcdcd, #979797);
}
.upload {
  position: absolute;
  top: 0%;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  z-index: -1;
}
#logoContainer {
  position: relative;
  display: inline-block;
  float: left;
  width: -webkit-calc(14.5% - 2px);
  width: -moz-calc(14.5% - 2px);
  height: 100%;
  margin: auto;
  border-left: 2px solid #969698;
}
.links {
  text-decoration: none;
  font-family: Courier;
  font-size: 1em;
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
}
#logo {
  position: absolute;
  top: 50%;
  left: 0%;
  height: 45px;
}
.logout {
  width: 50%;
  text-align: center;
  margin: auto;
}
#timekeeping {
  display: inline-block;
  position: relative;
  float: right;
  width: -webkit-calc(15.5% - 2px);
  width: -moz-calc(15.5% - 2px);
  height: 100%;
  border-left: 2px solid #969698;
}
#timeContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  width: 190px;
  height: 60px;
  border-radius: 5px;
  background-image: url('../images/green.png');
  background-repeat: repeat;
}
.rows {
  width: 185px;
  height: 20px;
}
#countOff {
  float: left;
  width: 90px;
  height: 20px;
  text-align: center;
  color: #9ae010;
  font-family: Arial;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: -1px;
  text-indent: -2.5px;
  border: 2px solid #4a641b;
  border-radius: 3px;
  background: transparent;
}
#countOff:focus {
  outline: none;
}
#countOffBars {
  float: right;
  text-align: right;
  color: #9ae010;
  font-family: Arial;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: -1px;
  background: transparent;
  border: none;
  width: 40px;
}
#meter {
  float: left;
  margin-left: 30px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: -1px;
}
#meterValue {
  float: right;
  text-align: right;
  color: #9ae010;
  font-family: Arial;
  font-size: .9em;
  font-weight: 600;
  background: transparent;
  width: 40px;
  border: none;
}
#tempo {
  float: left;
  margin-left: 28px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: -1px;
}
#bpm {
  float: right;
  text-align: center;
  color: #9ae010;
  font-family: Arial;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: -0.5px;
  background: transparent;
  width: 58px;
  border: none;
}
.window {
  float: left;
  height: -webkit-calc(88% - 4px);
  height: -moz-calc(88% - 4px);
  background: #323232;
  border-bottom: 4px solid #CCCCB2;
}
#fileWindow {
  width: 11%;
  overflow: hidden;
  float: left;
  height: -webkit-calc(88% - 4px);
  height: -moz-calc(88% - 4px);
  background: #323232;
  border-bottom: 4px solid #CCCCB2;
}
#trackEditWindow {
  width: 79.5%;
  float: left;
  height: -webkit-calc(88% - 4px);
  height: -moz-calc(88% - 4px);
  background: #323232;
  border-bottom: 4px solid #CCCCB2;
}
#mixWindow {
  width: 9.5%;
  float: left;
  height: -webkit-calc(88% - 4px);
  height: -moz-calc(88% - 4px);
  background: #323232;
  border-bottom: 4px solid #CCCCB2;
}
#file {
  position: relative;
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  height: 100%;
  float: left;
  background-color: #ffffff;
  padding: 10px;
  color: #000000;
}
#fileTitle {
  width: 100%;
  font-size: 1em;
  font-weight: bolder;
  top: 0;
  left: 0;
  background-color: #222222;
  color: #f9f9f9;
  text-align: center;
}
#file a {
  color: #222222;
  padding: 2px 0;
  text-decoration: none;
}
#file a:hover,
#file a.current {
  text-decoration: underline;
  font-weight: 600;
}
#trackList {
  width: 100%;
}
.trackListContainer {
  height: 1em;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  line-height: 1em;
}
.trackListAdd {
  padding-right: 5px;
  font-size: .7em;
}
.trackListName {
  font-size: .7em;
  font-weight: 600;
}
#rulers {
  float: left;
  position: fixed;
  width: 150px;
  height: 54px;
  background: #323232;
  z-index: 5;
}
#edit {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  background: #323232;
  border-top: solid #313131 4px;
  overflow: auto;
}
#playScroller {
  position: absolute;
  left: 0px;
  width: 1px;
  background: #000;
  z-index: 8;
  pointer-events: none;
}
#trackScroller {
  position: absolute;
  left: 0px;
  width: 1px;
  height: 114px;
  background: #000;
  z-index: 8;
  pointer-events: none;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
#mix {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  background: #323232;
  overflow-y: scroll;
}
.ui-icon {
  background-image: none;
}
.ui-resizable-e {
  right: 0 !important;
  width: 4px !important;
  background: #CCCCB2;
}
#rulers {
  position: fixed;
  width: 150px;
  height: 54px;
  margin-top: 4px;
  z-index: 10;
}
#barsBeats {
  width: 100%;
  height: 18px;
  background: #757e87;
}
#timelines {
  position: absolute;
  width: 11000px;
  height: 54px;
  margin-left: 150px;
  overflow: hidden;
  z-index: 9;
  background: -webkit-linear-gradient(rgb(189,190,192), rgb(143,144,148));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(189,190,192), rgb(143,144,148));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(189,190,192), rgb(143,144,148));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#bdbec0, #8f9094);
  /* Standard syntax */
}
#bars_timeline {
  position: absolute;
  width: 1080%;
  height: 18px;
  background: #757e87;
  cursor: text;
}
#barInfo {
  position: relative;
  display: inline-block;
  width: 89px;
  height: 18px;
}
.bar_block {
  position: relative;
  display: inline-block;
  width: 89px;
  height: 18px;
  border-left: 1px solid #000;
  pointer-events: none;
}
.bar_numbers {
  display: inline-block;
  margin-top: -4px;
  height: 18px;
  font-family: Arial;
  font-weight: 600;
  font-size: .9em;
  text-indent: 3px;
  vertical-align: middle;
  color: #FFF;
  text-shadow: 0px 0px 4px #141914;
  pointer-events: none;
}
#minSecs {
  width: 100%;
  height: 18px;
  background: #434142;
}
#measureIncrements {
  width: 100%;
  height: 17px;
  background: #434142;
  border-bottom: 1px solid #5d5e60;
}
.editNamePlates {
  display: inline-block;
  width: 148px;
  float: left;
  height: 112px;
  background: #6f7269;
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
  border-right: 2px solid #313131;
}
#seconds_timeline {
  position: absolute;
  width: 1080%;
  height: 18px;
  margin-top: 18px;
  background: #434142;
  overflow: hidden;
  cursor: text;
}
#secsInfo {
  position: relative;
  display: inline-block;
  width: 89px;
  height: 18px;
}
.seconds_block {
  position: relative;
  display: inline-block;
  width: 89px;
  height: 18px;
  border-left: 1px solid #000;
  border-bottom: 2px solid #434144;
  pointer-events: none;
}
.seconds_numbers {
  display: inline-block;
  margin-top: -6px;
  height: 18px;
  font-family: Arial;
  font-weight: 700;
  font-size: .9em;
  text-indent: 3px;
  vertical-align: middle;
  color: #bdbdbd;
  pointer-events: none;
}
#measures_timeline {
  position: absolute;
  width: 1080%;
  height: 17px;
  margin-top: 36px;
  background: -webkit-linear-gradient(rgb(189,190,192), rgb(143,144,148));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(189,190,192), rgb(143,144,148));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(189,190,192), rgb(143,144,148));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#bdbec0, #8f9094);
  /* Standard syntax */
  border-bottom: 1px solid #5d5e60;
  overflow: hidden;
  cursor: text;
}
.measure_parent {
  position: relative;
  display: inline-block;
  width: 21.50px;
  height: 18px;
  border-left: 1px solid #636466;
  pointer-events: none;
}
.measure_child {
  position: relative;
  display: inline-block;
  width: 21.50px;
  height: 18px;
  border-left: 1px solid #7d7e82;
  pointer-events: none;
}
#tracks_timeline {
  margin-top: 54px;
  width: 12000px;
}
.track {
  position: relative;
  float: left;
  width: 11000px;
  height: 110px;
  background: #b7b5b6;
  border-top: solid 2px #cfcdce;
  border-bottom: solid 2px #7e7e7e;
  overflow: hidden;
}
.measure {
  width: 90px;
  display: inline-block;
  pointer-events: none;
}
.measureMark {
  position: relative;
  display: inline-block;
  margin-top: 1px;
  margin-right: 21.50px;
  border-left: 1px solid #919191;
  height: 108px;
  z-index: 3;
  pointer-events: none;
}
.quarterMark {
  position: relative;
  display: inline-block;
  margin-top: 1px;
  margin-right: 21.50px;
  border-left: 1px solid #aba9aa;
  height: 108px;
  z-index: 3;
  pointer-events: none;
}
.clips {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 110px;
  overflow: hidden;
}
.waveformBackground {
  position: absolute;
  display: inline-block;
  left: 0%;
  top: 0%;
  height: 108px;
  border: 1px solid black;
  z-index: 2;
  pointer-events: none;
}
.waveforms {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 110px;
  overflow: hidden;
  pointer-events: none;
}
.waveformL {
  position: absolute;
  display: block;
  left: 0%;
  top: 0%;
  height: 55px;
  pointer-events: none;
}
.waveformR {
  position: absolute;
  display: block;
  left: 0%;
  top: 55px;
  height: 55px;
  pointer-events: none;
}
#editNamePlates {
  position: absolute;
  float: left;
  width: 150px;
  display: inline;
  z-index: 9;
}
#waveforms_timeline {
  position: absolute;
  display: inline;
  width: 11000px;
  margin-left: 150px;
}
.selected {
  background: #31490b;
}
.unselected {
  background: #b6cb90;
}
.topWaveform {
  z-index: 5;
}
.bottomWaveform {
  z-index: 4;
}
.trimSelection {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 108px;
  border: 3px solid yellow;
  z-index: 6;
  pointer-events: none;
}
.selection {
  position: absolute;
  top: 0%;
  height: 114px;
  z-index: 6;
  background: blue;
  opacity: .25;
  pointer-events: none;
}
.grabSelection {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 108px;
  border: 3px solid yellow;
  z-index: 6;
  pointer-events: none;
}
.editNamePlateColor {
  float: left;
  width: 5%;
  height: 112px;
  background: #10595f;
}
.trackName {
  float: left;
  width: 95%;
  height: 17px;
  text-align: center;
  background: #9a9a9a;
  font-family: Arial;
  font-weight: 600;
  font-size: 0.9em;
  overflow: hidden;
}
.editRow {
  position: relative;
  float: left;
  width: 95%;
  height: 30%;
  margin-top: 5px;
}
.new-edit-button {
  position: relative;
  display: inline-block;
  height: 65%;
  width: -webkit-calc(50% - 37px);
  width: -moz-calc(50% - 37px);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  background: -webkit-linear-gradient(rgb(137,137,137), rgb(78,78,78));
  background: -o-linear-gradient(rgb(137,137,137), rgb(78,78,78));
  background: -moz-linear-gradient(rgb(137,137,137), rgb(78,78,78));
  background: linear-gradient(#898989, #4e4e4e);
  color: #FFF;
  font-size: .95em;
  font-weight: 600;
  font-family: Arial;
  outline: none;
}
.edit-solo {
  margin-left: 30px;
  margin-right: 5px;
}
.edit-mute {
  margin-left: 5px;
  margin-right: 30px;
}
.trimmer {
  cursor: pointer;
}
.selector {
  cursor: text;
}
.grabber {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.selectedName {
  background: #DDD !important;
}
.pluginContainer {
  width: 100%;
  height: 100%;
}
.bypassDiv {
  width: 13%;
  height: 100%;
  background-color: #a9a9a9;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pluginName {
  width: 87%;
  height: 100%;
  background-color: #a9a9a9;
  float: right;
  margin-left: -1px;
  border-left: 1px solid #323232;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.mixChannel {
  position: relative;
  float: left;
  height: 100%;
  margin-left: 4px;
  overflow: hidden;
}
.flyout-menu {
  height: 43%;
  margin: auto;
}
.plugin {
  position: relative;
  height: -webkit-calc(10% - 5px);
  height: -moz-calc(10% - 5px);
  margin: auto;
  margin-top: 5px;
  background: #464646;
  text-align: center;
}
.plugin:hover {
  background-color: rgba(102, 153, 153, 0.3);
}
.faderWindow {
  position: relative;
  margin: auto;
  height: -webkit-calc(57% - 11px);
  height: -moz-calc(57% - 11px);
  background-color: #6b6b6b;
  border: 1px solid #000;
  border-radius: 6px;
}
.groupID {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 5px;
  width: 95%;
  height: 5%;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 90%;
  background-color: #a9a9a9;
  text-align: center;
  border-radius: 3px;
}
.panKnob {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  height: 10%;
}
.panDisplay {
  position: relative;
  margin: auto;
  width: 90%;
  height: -webkit-calc(5% - 4px);
  height: -moz-calc(5% - 4px);
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-image: url('../images/green.png');
  background-repeat: repeat;
}
.panText {
  position: relative;
  display: inline-block;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-family: sans-serif;
  font-weight: 600;
  font-size: 100%;
  letter-spacing: -0.125px;
  color: #9ae010;
  text-align: center;
}
.pan {
  position: relative;
  display: inline-block;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: -0.125px;
  color: #9ae010;
  text-align: center;
}
.panArrow {
  display: inline-block;
  font-size: .6em;
  vertical-align: 12%;
}
.panLevel {
  display: inline-block;
  width: 25px;
  text-align: center;
}
.mixRow {
  position: relative;
  width: 100%;
  height: 12%;
  margin-top: 5px;
}
.new-mix-button {
  position: relative;
  display: inline-block;
  height: 55%;
  width: -webkit-calc(50% - 27px);
  width: -moz-calc(50% - 27px);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  background: -webkit-linear-gradient(rgb(137,137,137), rgb(78,78,78));
  background: -o-linear-gradient(rgb(137,137,137), rgb(78,78,78));
  background: -moz-linear-gradient(rgb(137,137,137), rgb(78,78,78));
  background: linear-gradient(#898989, #4e4e4e);
  color: #FFF;
  font-size: 1em;
  font-weight: 600;
  font-family: Arial;
  outline: none;
}
.mix-solo {
  margin-left: 20px;
  margin-right: 5px;
}
.mix-mute {
  margin-left: 5px;
  margin-right: 20px;
}
.unsoloed {
  background: linear-gradient(#898989, #4e4e4e);
  border: 1px solid #181818;
}
.soloed {
  background: linear-gradient(#dfca57, #bca82f);
  border: 1px solid #90792b;
}
.unmuted {
  background: linear-gradient(#898989, #4e4e4e);
  border: 1px solid #181818;
}
.muted {
  background: linear-gradient(#df904b, #ac6231);
  border: 1px solid #795030;
}
.levels {
  position: relative;
  display: inline-block;
  width: -webkit-calc(50% - 4px);
  width: -moz-calc(50% - 4px);
  height: -webkit-calc(60.5% - 16px);
  height: -moz-calc(60.5% - 16px);
}
.level {
  position: relative;
  float: left;
  height: -webkit-calc(100% - 2px);
  height: -moz-calc(100% - 2px);
  width: -webkit-calc(25% - 2px);
  width: -moz-calc(25% - 2px);
  border: 1px solid #232f1b;
}
.level-left {
  margin-left: 25%;
}
.level-right {
  margin-right: 25%;
}
.black {
  position: relative;
  float: left;
  height: 1%;
  width: 100%;
  background: #000000;
}
.red {
  position: relative;
  float: left;
  height: 9%;
  width: 100%;
  background: #442803;
}
.yellow {
  position: relative;
  float: left;
  height: 40%;
  width: 100%;
  background: #564800;
}
.green {
  position: relative;
  float: left;
  height: 50%;
  width: 100%;
  background: #2c3c0f;
}
.level-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  top: -100%;
}
.mixNamePlates {
  position: relative;
  width: 100%;
  height: 5%;
  background: #a6a6a4;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: 900;
  font-family: Arial;
  font-size: 100%;
  letter-spacing: -0.25px;
  overflow: hidden;
}
.mixNamePlateColor {
  position: relative;
  height: -webkit-calc(2.5% - 5px);
  height: -moz-calc(2.5% - 5px);
  width: 100%;
  background: #10595f;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#play {
  width: 34px;
  height: 34px;
}
#stop {
  width: 34px;
  height: 34px;
}
#addTrack {
  width: 34px;
  height: 34px;
}
#save {
  width: 34px;
  height: 34px;
}
