@keyframes shadow-color {
  0% { box-shadow: aqua 2px 2px; }
  100% { box-shadow: cornflowerblue 2px 2px; }
}

html,
body {
  background: rgb(39, 42, 55);
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

img {
  max-width: 100%;
}

main {
  margin: auto;
  text-align: left;
  width: 750px;
}

nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav > a {
  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: shadow-color;
  animation-timing-function: linear;
  border: 3px solid rgb(49, 52, 65);
  border-radius: 10px;
  margin: 0 15px;
  padding: 1rem 1.5rem;
  width: 150px;
}

nav h2 {
  margin-top: 0;
}

nav h3 {
  flex-basis: 100%;
}

section.next-blog {
  margin-bottom: 1rem;
  text-align: center;
}

@media (max-width: 768px)  {
  h3 {
    margin-top: 0;
  }

  main {
    padding: 0 10px;
    width: fit-content;
  }

  nav > a {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  nav p {
    margin-bottom: 0;
  }
}
