// Colors
$background-gray: rgb(249, 249, 249);
$background-light: rgb(238, 238, 238);
$black: rgb(0, 0, 0);
$border-light: rgb(170, 170, 170);
$darker-gray: rgb(30, 30, 30);
$dark-gray: rgb(50, 50, 50);
$funeral-black: rgb(39, 42, 55);
$ghost-white: rgb(248, 248, 255);
$grass-green: rgb(146, 191, 127);
$light-gray: rgb(189, 195, 199);
$lighter-gray: rgb(232, 238, 239);
$link-color: rgb(0, 123, 255);
$mint-green: rgb(226, 255, 216);
$navy-bean-blue: rgb(48, 65, 93);
$neutral-gray: rgb(138, 151, 160);
$pale-dark-green: rgb(175, 204, 165);
$pale-green: rgb(201, 230, 191);
$pale-red: rgb(175, 71, 60);
$radium-pink: rgb(255, 159, 241);
$radium-purple: rgb(110, 60, 220);
$red: rgb(255, 0, 0);
$white: rgb(255, 255, 255);

// Landing
$landing-background: rgb(253, 253, 253);

// Navbar
$navbar-height-md: 78px;
$navbar-height-sm: 66px;
