// Colors
$black: rgb(0, 0, 0);
$border-light: rgb(170, 170, 170);
$funeral-black: rgb(39, 42, 55);
$ghost-white: rgb(248, 248, 255);
$red: rgb(255, 0, 0);
$white: rgb(255, 255, 255);

// Height
$footer-height-md: 280px;
$navbar-height-md: 74px;
$navbar-height-sm: 66px;
