.landing-card {
  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: shadow-color;
  animation-timing-function: linear;
  background: $white;
  border-radius: 21px;
  box-shadow: aqua 4px 4px;
  height: 300px;
  margin: auto;
  width: 80%;

  .image-container {
    height: 200px;
    width: 100%;

    svg {
      font-size: 150px;
      margin-top: 15px;
      max-height: 120px;
    }
  }
}

@keyframes shadow-color {
  0% { box-shadow: aqua 4px 4px; }
  100% { box-shadow: cornflowerblue 4px 4px; }
}

@media screen and (max-width: 991px) {
  .landing-card {
    height: 195px;
    width: 90%;

    .image-container {
      height: initial;
      width: 100%;

      svg {
        font-size: 50px;
        margin-top: 0;
        max-height: 120px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .landing-card {
    height: 165px;

    .card-body {
      padding: 10px 0 0;
    }

    .image-container {
      height: initial;
    }
  }

  @keyframes shadow-color {
    0% { box-shadow: aqua 2px 2px; }
    100% { box-shadow: cornflowerblue 2px 2px; }
  }
}
