.landing-card {
  animation-name: shadow-color;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: $white;
  border-radius: 21px;
  box-shadow: aqua 4px 4px;
  height: 300px;
  margin: auto;
  width: 80%;

  .image-container {
    height: 200px;
    width: 100%;

    svg {
      font-size: 150px;
      margin-top: 15px;
      max-height: 120px;
    }

    img {
      height: 100%;
      margin: 0 auto;
    }
  }

  #knobjectLogo {
    margin-top: 50px;
    height: 200px;
  }
  
  #raspbeatLogo {
    margin-top: 20px;
    height: 250px;
  }
}

@keyframes shadow-color {
  0% {box-shadow: aqua 4px 4px;}
  100% {box-shadow: cornflowerblue 4px 4px;}
}