.navbar {
  background: $funeral-black;

  .navbar-brand {
    line-height: 48px;
  }

  .navbar-brand h1 {
    vertical-align: middle;
  }

  .navbar-brand img {
    background: cornsilk;
    border-radius: 4px;
    height: 48px;
    width: 74px;
  }
}
