.navbar {
  background: $funeral-black;

  .navbar-brand {
    line-height: 40px;
  }

  .navbar-brand h2 {
    font-size: calc(0.8em + 1vw);
    vertical-align: middle;
  }

  .navbar-brand img {
    background: cornsilk;
    border-radius: 3px;
    height: 40px;
    width: 62px;
  }
}
