.bm-burger-button {
  color: $white;
  height: $navbar-height-md;
  position: fixed;
  right: 12px;
  visibility: hidden;
  width: 36px;
  z-index: 1030 !important;
}

.bm-burger-bars {
  background: $white;
  height: 10% !important;
  opacity: initial !important;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-cross-button {
  display: none;
}

.bm-item-list {
  padding: 0.8em;

  .menu-item {
    color: $white;
    outline: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.bm-menu {
  background: #272a37;
  border-right: 2px solid $white;
  font-size: 2em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767.98px) {
  .bm-burger-button {
    visibility: visible;
  }
}
