{% include ('header.twig') %}

<div id="blog-container" class="col-12">
    {% if posts|length == 0 %}
        <div class="blog-post" style="padding: 35px 0;">No posts written yet.</div>
    {% else %}
        {% for post in posts %}
            <div class="post-body card">
                <h2 class="post-title">{{ post.title }}</h2>
                <p class="post-date">{{ post.date_created|date("F jS, Y") }}</p>
                <p>{{ post.body|raw }}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% include ('footer.twig') %}
