{% include('header.twig') %}

{% if error %}
    <p class="err-msg">{{errorMsg}}</p>
{% endif %}

{% if success %}
    <p class="succ-msg">Your post has been submitted!</p>
{% endif %}

<div class="pl-3 pr-3 pt-3 pb-3">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" aria-describedby="titleHelp">
            </div>
            <div class="form-group">
                <label for="preview">Preview</label>
                <input class="form-control" id="preview" aria-describedby="previewHelp">
            </div>
            <div class="form-group">
                <label for="tags">Tags</label>
                <input class="form-control" id="tags" aria-describedby="tagsHelp">
            </div>
            <div class="form-group">
                <select id="blog-editor-select" class="w-50" onchange="loadPost(this)">
                    <option value="0">New Post</option>
                    {% for post in posts %}
                        <option value="{{ post.id }}">{{ post.title }}</option>
                    {% endfor %}
                </select>
                <input id="blog-editor-id" type="hidden" name="id" value=""/>
            </div>
            <div class="form-group">
                <label class="switch">
                    <input id="publish-to-medium" type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span style="vertical-align:top;">Publish to Medium</span><br/>
            </div>
            <button class="btn btn-primary" onclick="createPost()">Save</button>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="body">Body</label>
                <textarea id="body" class="w-100" style="height: 320px;"></textarea>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/blog-editor.js"></script>

{% include('footer.twig') %}
