<footer class="col-12 col-md py-4 bg-dark text-white">
    <div class="row">
        <div class="col-12 col-md">
            <img id="portrait" draggable="false"></img>
            <h5>Brandon W. Kipp</h5>
            <h6>{{ date }}</h6>
        </div>
        <div class="col-4 col-md">
            <h5>Social</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://twitter.com/brandonwkipp">Twitter</a></li>
                <li><a class="text-muted" href="https://linkedin.com/in/brandonwkipp">LinkedIn</a></li>
                <li><a class="text-muted" href="mailto:brandonwkipp@gmail.com">Email</a></li>
            </ul>
        </div>
        <div class="col-4 col-md">
            <h5>Portfolio</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://github.com/brandonwkipp">GitHub</a></li>
                <li><a class="text-muted" href="https://soundcloud.com/brandonwkipp">SoundCloud</a></li>
            </ul>
        </div>
        <div class="col-4 col-md">
            <h5>Related</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://radiumtr.ee">RadiumTree</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="/assets/bootstrap/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

</body>
</html>
