<!DOCTYPE html>
<html lang="en">
<head>
    <title>Brandon W. Kipp</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-md-inline-block">
                <img src="/assets/images/piano.png" style="height:25px;"/>
            </a>
            <a class="py-2 d-md-inline-block" href="#projects">Projects</a>
            <a class="py-2 d-md-inline-block" href="/blog">Blog</a>
            <div class="dropdown">
                <a class="py-2 d-md-inline-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Connect</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="https://github.com/brandonwkipp" target="_blank">
                        <img class="icon" src="/assets/images/icons/github-icon.png"/> GitHub
                    </a>
                    <a class="dropdown-item" href="https://linkedin.com/in/brandonwkipp" target="_blank">
                        <img class="icon" src="/assets/images/icons/linkedin-icon.png"/> LinkedIn
                    </a>
                    <a class="dropdown-item" href="https://twitter.com/brandonwkipp" target="_blank">
                        <img class="icon" src="/assets/images/icons/twitter-icon.png"/> Twitter
                    </a>
                    <a class="dropdown-item" href="https://soundcloud.com/brandonwkipp" target="_blank">
                        <img class="icon" src="/assets/images/icons/soundcloud-icon.png"/> SoundCloud
                    </a>
                </div>
            </div>
        </div>
    </nav>
