.blog-post {
  font-size: 1.35em;
}

.blog-post.card {
  background-color: transparent;
}

.blog-post.card:nth-of-type(odd) {
  background-color: #C9E6BF;
}

.blog-post.card:nth-of-type(even) {
  background-color: #AFCCA5;
}

.blog-post a {
  color: red;
}

.individual-blog-post {
  min-height: 650px;
}

@media (max-width: 768px) {
  .blog-post p.post-body {
    width: 90%;
  }
}
