.bot {
  overflow: auto;
}
.bot-title {
  font-size: 36px;
  text-align: center;
  margin: 0px !important;
}
.bot-explanation {
  font-size: 1em;
  text-align: center;
}
.main-borders {
  border-color: #527F44;
  border-style: solid;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pointer {
  pointer-events: none;
}
#test {
  width: 256px;
  height: 256px;
  background: url('../images/test.jpg');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}
html,
body {
  min-height: 100%;
  height: 100%;
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
  background: #E2FFD8;
  overflow: hidden;
}
a,
a:focus,
a:hover {
  text-decoration: none;
  color: #000000;
  outline: none;
}
#blurb {
  position: relative;
  width: 99%;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  background: #92BF7F;
  border-width: 5px;
  border-radius: 10px;
  padding: 0px 15px;
  font-size: 1.15em;
  font-family: 'Montserrat';
  border-color: #527F44;
  border-style: solid;
}
#greeting {
  display: block;
  position: relative;
  font-size: 2.5em;
}
#bio {
  display: block;
  position: relative;
  text-align: center;
  font-size: 1em;
}
#content {
  position: relative;
  height: 100%;
  margin: auto;
  border-left: 1px solid #527F44;
}
#name-container {
  position: relative;
  width: 95%;
  height: 85px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
#name {
  position: relative;
  display: inline-block;
  left: -webkit-calc(50% - 42.5px);
  left: -moz-calc(50% - 42.5px);
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat';
  font-size: 2.75em;
  text-shadow: 2px 2px #AAA;
}
#portrait {
  position: absolute;
  display: inline-block;
  right: -webkit-calc(50% - 215px);
  right: -moz-calc(50% - 215px);
  width: 85px;
  height: 85px;
  border: 2px solid #000;
  border-radius: 100%;
  background: url('../images/1.png');
  background-size: contain;
}
.tabs-center {
  position: relative;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  background: #AF473C;
  margin-top: 5px;
}
#navTabs {
  position: relative;
  width: 75%;
  z-index: 2;
}
#smallMenu {
  position: relative;
  width: 75%;
  z-index: 2;
}
#content-box {
  display: block;
  position: relative;
  width: 100%;
  height: -webkit-calc(100% - 155px);
  height: -moz-calc(100% - 155px);
  margin: auto;
  margin-top: 15px;
  background: #92BF7F;
  border-width: 5px;
  border-radius: 10px;
  border-color: #527F44;
  border-style: solid;
  padding: 15px;
  font-size: 16px;
  font-family: 'Montserrat';
  overflow-y: scroll;
  z-index: 1;
}
#content-box::-webkit-scrollbar {
  width: 13px;
  height: 13px;
  background: #527F44;
}
#content-box::-webkit-scrollbar-track {
  background-color: #B46868;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#content-box::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.blog-title {
  margin-bottom: 5px;
  font-size: 36px;
  font-family: 'Montserrat';
  text-decoration: underline;
}
.blog-date {
  text-align: right;
}
.icon {
  width: 25px;
  height: 25px;
}
/*Bootstrap modifications*/
.nav > li {
  padding: 10px 0px;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 0px !important;
}
.nav-tabs.nav-justified > li > a {
  border-style: none !important;
}
.nav-tabs {
  border-bottom: none !important;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background: #AF473C;
  color: #FFF !important;
  border-style: none !important;
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
  background: #AF473C;
  color: #000 !important;
  border-style: none;
}
@media (max-width: 1285px) {
  #bio {
    font-size: .85em;
  }
}
@media (max-width: 1285px) {
  #greeting {
    font-size: 2.25em;
  }
  #bio {
    font-size: .75em;
  }
}
@media (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
  #name-container {
    height: 65px;
  }
  #portrait {
    width: 65px;
    height: 65px;
  }
  #navTabs {
    width: 95%;
    padding: 0px !important;
  }
  #navTabs > li {
    display: inline-block !important;
    width: 19%;
  }
  .panel {
    margin: 0px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .panel-group {
    margin: 0px auto !important;
  }
  .panel-heading {
    background: #AF473C !important;
    color: #FFF !important;
    text-align: center;
  }
  .panel-panel {
    border-style: none;
  }
  #content-box {
    margin-top: 5px;
    height: -webkit-calc(100% - 124px);
    height: -moz-calc(100% - 124px);
    overflow-x: hidden;
  }
  .blog-title {
    margin-top: 0px;
    font-size: 1.25em;
  }
  .mobile-list-item {
    background: #AAA;
  }
}
@media only screen and (max-width: 736px) and (orientation: landscape) {
  #name {
    font-size: 2.25em;
    left: -webkit-calc(50% - 32.5px);
    left: -moz-calc(50% - 32.5px);
  }
  #portrait {
    right: -webkit-calc(50% - 175px);
    right: -moz-calc(50% - 175px);
  }
  #content-box {
    height: -webkit-calc(100% - 125px);
    height: -moz-calc(100% - 125px);
  }
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
  #name-container {
    height: 55px !important;
  }
  #name {
    font-size: 1.85em;
    left: -webkit-calc(50% - 25px) !important;
    left: -moz-calc(50% - 25px) !important;
  }
  #portrait {
    right: -webkit-calc(50% - 145px);
    right: -moz-calc(50% - 145px);
    width: 55px !important;
    height: 55px !important;
  }
  #content-box {
    height: -webkit-calc(100% - 114px);
    height: -moz-calc(100% - 114px);
  }
}
/* portrait */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  #name {
    font-size: 2.25em;
    left: -webkit-calc(50% - 32.5px);
    left: -moz-calc(50% - 32.5px);
  }
  #portrait {
    right: -webkit-calc(50% - 175px);
    right: -moz-calc(50% - 175px);
  }
  #content-box {
    height: -webkit-calc(100% - 125px);
    height: -moz-calc(100% - 125px);
  }
}
@media only screen and (max-width: 360px) and (orientation: portrait) {
  #name-container {
    height: 55px !important;
  }
  #name {
    font-size: 1.85em;
    left: -webkit-calc(50% - 25px) !important;
    left: -moz-calc(50% - 25px) !important;
  }
  #portrait {
    right: -webkit-calc(50% - 145px);
    right: -moz-calc(50% - 145px);
    width: 55px !important;
    height: 55px !important;
  }
  #content-box {
    height: -webkit-calc(100% - 114px);
    height: -moz-calc(100% - 114px);
  }
}
@media only screen and (max-width: 320px) and (orientation: portrait) {
  #content {
    padding: 0px 7.5px;
  }
  #content-box {
    padding: 5px;
  }
}
.modal-dialog {
  background: #92BF7F;
  border-color: #527F44;
  border-style: solid;
}
.modal-title {
  color: #FFF;
}
.modal-border {
  border: 10px solid #FFF;
  border-radius: 20px;
}
.error-row {
  display: block;
  color: #FF0000;
  margin-bottom: 5px;
  text-align: center;
}
.form-input {
  display: block;
  width: 90%;
  margin: auto;
  margin-bottom: 5px;
  padding: 5px;
}
.message {
  height: 200px;
  padding: 5px;
  padding-top: 10px;
  overflow-y: auto;
  resize: none;
}
.message::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  height: 1em;
  line-height: 1em;
}
.message::-moz-placeholder {
  /* Firefox 19+ */
  height: 1em;
  line-height: 1em;
}
.message:-ms-input-placeholder {
  /* IE 10+ */
  height: 1em;
  line-height: 1em;
}
.message:-moz-placeholder {
  /* Firefox 18- */
  height: 1em;
  line-height: 1em;
}
#form-submit-container {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
}
.form-submit {
  float: right;
}
#resume-modal > .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  width: 75%;
  height: 75%;
  margin: auto;
}
#resume-modal button {
  width: 21px !important;
}
#resume-img {
  position: relative;
  display: block;
  width: 95%;
  height: -webkit-calc(100% - 42px);
  margin: auto;
  margin-top: 21px;
  background: url('../images/resume-landscape.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
